<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choong.spr.mapper.BoardMapper">
	
	<!-- 검색 기능 추가 -->
	<!-- 기존 쿼리에 검색기능 동적 쿼리 작성 -->
	<select id="selectBoardAll" resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id, 
			   b.title, 
			   b.inserted, 
			   COUNT(r.id) numOfReply,
			   m.nickName writerNickName  <!-- member nickName추가함 -->
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
						  JOIN Member m ON b.memberId = m.id <!-- member nickName추가함 -->
		
		<!-- if test 조건에 의해 WHERE이 실행될 수도 있고 안될수도 있다. -->
		<!-- 실행이 안되면 기존 Board 목록이 화면에 출력된다. -->
		<if test="keyword != '%%'">
			<choose>
				<when test="type == 'all'">
					WHERE b.title LIKE #{keyword } OR
						  b.body LIKE #{keyword }
				</when>
				<when test="type == 'title'">
					WHERE b.title LIKE #{keyword } 
				</when>
				<when test="type == 'body'">
					WHERE b.body LIKE #{keyword }
				</when>
			</choose>
		</if>
		
		GROUP BY b.id
		ORDER BY b.id DESC
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO Board (title, body, memberId)
		VALUES (#{title}, #{body}, #{memberId}) <!-- 로그인 정보 추가 -->
	</insert>
	
	<select id="selectBoardById" resultType="com.choong.spr.domain.BoardDto">
		SELECT b.id, 
			   b.title, 
			   b.body, 
			   b.inserted, 
			   COUNT(r.id) numOfReply,
			   m.id memberId, <!-- 글 쓴 사람만 삭제 가능하도록 memberId 얻어오기 추가 -->
			   m.nickName writerNickName  <!-- member nickName추가함 -->
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
						  JOIN Member m ON b.memberId = m.id <!-- member nickName추가함 -->
		WHERE b.id = #{id}
	</select>
	
	<update id="updateBoard">
		UPDATE Board
		SET title = #{title},
			body = #{body}
		WHERE 
		    id = #{id}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM Board
		WHERE id = #{id }
	</delete>
	
	<select id="listByMemberId" resultType="com.choong.spr.domain.BoardDto">
		SELECT id
		FROM Board
		WHERE memberId = #{memberId}
	</select>
	
	<delete id="deleteByMemberId">
		DELETE FROM Board
		WHERE memberId = #{memberId }
	</delete>
</mapper>